<%= turbo_frame_tag quote do %>
  <div class="quote"
       data-author-id=<%= quote.user.id %>
         data-controller="chat">
    <%= quote.user.name %>:
    <div class="quote__text">
      <%=  quote.name %>
    </div>
    <div class="quote__actions">
      <%= button_to quote_path(quote),
                    method: :delete,
                    class: "btn btn--light btn--icon" do %>
        <%= evil_icon 'ei-trash' %>
      <% end %>
      <%= link_to edit_quote_path(quote),
                  class: "btn btn--light btn--icon" do %>
        <%= evil_icon 'ei-pencil' %>
      <% end %>

    </div>

    <div class="quote__time">
      <% if quote.updated_at != quote.created_at %>
        <span class="quote__edited">
        <%= "Edited" %>
        </span>
        <br>
      <% end %>
      <%= local_time(quote.created_at, '%H:%M:%S') %>
    </div>
  </div>

<% end %>