<%= turbo_frame_tag quote do %>
  <div class="quote"
       data-author-id=<%= quote.user.id %>
         data-controller="chat">
    <%= quote.user.name %>:
    <div class="quote__text">
      <%= link_to quote.name,
                  quote_path(quote),
                  data: { turbo_frame: "_top" } %>
    </div>
    <div class="quote__actions">
      <%= button_to quote_path(quote),
                    method: :delete,
                    class: "btn btn--light btn--icon" do %>
        <%= evil_icon 'ei-trash' %>
      <% end %>
      <%= link_to edit_quote_path(quote),
                  class: "btn btn--light btn--icon" do %>
        <%= evil_icon 'ei-pencil' %>
      <% end %>

    </div>
    <div class="quote__time">
      <%= local_time(quote.created_at, '%H:%M:%S') %>
    </div>
  </div>

<% end %>